@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark-alpha.css";

@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/blue-dark-alpha.css";

@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark-alpha.css";

@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/lime-dark.css";
@import "@radix-ui/colors/lime-alpha.css";
@import "@radix-ui/colors/lime-dark-alpha.css";

@layer base {
    * {
        /* @apply border-border; */
    }

    :root {
        /* --bg: var(--gray-1); */
        /* --boxBg: var(--gray-4); */
        /* --color: var(--color); */
    }

    .dark {
        /* --bg: var(--gray-12); */
    }
}

.overflow-x-scroll.snap-x::-webkit-scrollbar {
    /* hide scrollbars with webkit scrollbar */
    display: none;
}

@media (hover: hover) {
    .animated-list:hover li {
        opacity: 0.5;
    }

    .animated-list:hover li:hover {
        opacity: 1;
    }
}

.animate-in {
    animation-delay: calc(var(--index) * 130ms);
}

.print-force-new-page {
    page-break-before: always;
}

.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 70%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

.embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem rgb(240, 240, 242);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
}

.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
}

.embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
}

.embla__button {
    -webkit-tap-highlight-color: rgba(116, 109, 118, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem rgb(240, 240, 242);
    width: 2.6rem; /* Reduced size */
    height: 2.6rem; /* Reduced size */
    z-index: 1;
    border-radius: 50%;
    color: rgb(222, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
}

.embla__button:disabled {
    color: rgb(240, 240, 242);
}

.embla__button__svg {
    /* color: var(--gray-10); */
    width: 30%; /* Reduced size */
    height: 30%; /* Reduced size */
}